/*
  15. Set the base styling properties for our content.
  - Font size.
  - Heading text set to Montserrat
  - Body text set to Roboto
  - Body text set to 20px
  ***** add any additonal styling that you would like if you choose to.
*/
/**************/
/*** Global ***/
/**************/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-orange: #ff9900;
  --color-blue: #1261a0;
  --color-light-blue: #3895d3;
  --color-dark-blue: #072f5f;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-dark-grey: #808080;
  --color-black: #000000;
  /* Font size */
  --font-large: 48px;
  --font-medium: 36px;
  --font-regular: 28px;
  --font-small: 24px;
  --font-micro: 20px;
  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 600;
  --weight-regular: 400;
  --weight-light: 300;
}

/**********************/
/*** Universal tags ***/
/**********************/
* {
  box-sizing: border-box;
}
body {
  min-width: 700px;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
  padding-left: 12px;
}
ul {
  list-style: none;
  padding-right: 28px;
}

/**********************/
/*** Section Common ***/
/**********************/
.section {
  text-align: center;
  padding: 40px;
  margin: auto;
}
.section__container {
  max-width: 1300px;
  margin: auto;
}

/******************/
/*** Typography ***/
/******************/
/*15-3.- Body text set to Roboto */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /*15-4. - Body text set to 20px  */
  font-size: 20px;
}
/*15-2.- Heading text set to Montserrat */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 16px 0;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
h4 {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-micro);
  font-weight: var(--weight-light);
  color: var(--color-black);
  margin: 4px 0;
  line-height: 1.55;
}

/***********/
/*** CSS ***/
/***********/
header {
  /* 3. Make the header element a flex container. */
  /* 4. Make the content centered along the cross axis and give it a fixed height of 125px. */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
}
.logo {
  /* 5. Using a flex-grow property, push the nav all the way over to the right. MAke sure to adjust the logo size so that it fits in the header. */
  width: 70px;
}
header > div {
  flex-grow: 1;
}
header ul {
  /* 6. Make the ul a flex container. */
  display: flex;
}
header li {
  /* 7. Remove the list styling. */
  list-style: none;
}

.wrapper {
  /* 8. Make the div below a grid container. */
  display: grid;
  /* 9. Once the div is a grid container, make it a 2 column grid. The first column should be 60% of the viewport and the second column should be the remaining 40%. */
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}

.wrapper section:nth-child(1) {
  /* 10. Make the section below a grid container. It should have 2 columns of equal width. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* 12. Align all the content to the bottom of the grid container. */
  align-items: end;
}

.wrapper section:nth-child(1) div {
  /* 11. Add padding to the top, bottom, left, & right of the divs. */
  padding: 12px;
}

.wrapper section:nth-child(2) {
  /* 13. Make the section below a grid container. The grid needs to be 6 columns of equal width. Align the content to the center cross axis. */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.wrapper aside {
  /* 14. Add 5% padding to the top and bottom of the aside, then add 2% padding to the left and right of the aside. Change the background color to black and change the font color to white. */
  padding: 5% 2%;
  background-color: black;
}

.wrapper aside p {
  color: white;
}
